/* ******* Custom Fonts Start ********** */
@font-face {
    font-family: LatoRegular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: LatoBold;
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: RalewayRegular;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('../fonts/Raleway-Bold.ttf');
}

.LatoRegular{
    font-family: LatoRegular !important;
}

.RalewayRegular{
    font-family: RalewayRegular !important;
}

.RalewayBold{
    font-family: RalewayBold !important;
}

.LatoBold{
    font-family: LatoBold !important;
}
/* ******* Custom Fonts End ********** */

.dotsDesign{
   background: #252B5C82;
   width: 17px;
   height: 17px;
   border-radius: 9px;
}

.cardDesTxt{
  text-align: center;
  color: white;
  font-family: RalewayRegular !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.cardTitleTxt{
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: LatoRegular !important;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.customCards{
    width: 100%;
    min-height: 190px;
    background: linear-gradient(106.49deg, #234F68 4.77%, #252B5C 88.8%);
    width: auto;
    margin-top: -35px;
    border-radius: 10px;
}

.enhancedTitleTxt{
    font-family: LatoRegular !important;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0.03em;
    text-align: left;
    color:#252B5C;
}

.enhancedDesTxt{
    color: #252B5C;
    font-family: RalewayRegular !important;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
}

.imageGalleryContainer{
    width: 100%;
    background-image: url('../images/home/page_background.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: #D7E8EA;
    margin-bottom: -25px;
}

.imageZoomIn:hover{
    transform: scale3d(1.03,1.03,1);
	transition: transform 1s ease-in-out;
    border-radius: 5px;
}

.contactTxt{
    font-family: LatoRegular;
    font-weight: 400;
    text-align: left;
    color: white;
}

.custIcons{
 color: #8BC83F;
 font-size: 24px;  
}

.cardSubTxt{
    color: #C9C9C9;
    font-family: RalewayRegular !important;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    margin-top: 10px;
}

.informationTxt{
    color: white;
    font-family: LatoBold;
    font-weight: 600;
    line-height: 33.6px;
}

.customBtn{
    background: #8BC83F !important;
    border-color: #8BC83F !important;
    box-shadow: 0px 0px 14px 0px #0000001F !important;
    font-family: RalewayRegular !important;
    font-weight: 500 !important;
}


.customBtn:hover{
    border: 3px white solid;
    outline: 2px solid;
}


.labelText{
   font-weight: 500;
   color: #8D8D8D;
   font-family: LatoRegular !important;
}

.inputGroup:has(input:focus) label{
    font-weight: 500;
    color: #252B5C;
    font-family: LatoRegular !important;
}


.customerInput{
  border: none; 
  opacity: 0px;
  border-bottom: 1px solid #8D8D8D;
  color: #8D8D8D;
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-family: LatoRegular !important;
}

.customerInput:focus{
  border: none; 
  opacity: 0px;
  border-bottom: 2px solid #252B5C;
  color: #252B5C;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: none;
  font-family: LatoRegular !important;
}

.innerCircle{
    background: #FFF9F921;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    top: -20px;
    position: absolute;
    left: -20px;
}

.outerCircle
{
  width: 250px;
  height: 250px;
  background: #FFFFFF1F;
  border-radius: 125px;
  position: absolute;
  bottom: -60px;
  right: -50px;
}

.infoCard{
    height: 100%;
    background: linear-gradient(106.49deg, #234F68 4.77%, #252B5C 88.8%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.infoCard:hover{
    cursor:pointer;
    transform: scale3d(1.03,1.03,1) rotate3d(1, 1, 1, -5deg);
	transition: transform 1s ease-in-out;
}

.footerTitle{
    color: #252B5C;
    font-family: LatoBold !important;
    font-weight: 600;
    font-family: Lato;
    line-height: 40px;
    letter-spacing: 0.03em;
}

.footersubTitle{
    color: #252B5C;
    font-weight: 400;
    font-family: RalewayRegular !important;
    line-height: 48px;
    letter-spacing: 0.03em;
}

.footerdesign{
    width: 20%;
    height: 36%;
    background: #F5FAF6;
    border-bottom-left-radius: 300px;
    position: absolute;
    right: 0;
}

.building-txt{
    color: #252B5C;
    font-weight: 500;
    font-family: RalewayRegular !important;
    font-weight: 600;
    text-align: center;
}

.slide1-text{
   font-family: RalewayRegular;
   font-weight: 400;
   line-height: 37px;
   letter-spacing: 0.03em;
   text-align: center;
   color: #252B5C;
}

.engagment-text{
    margin-top: 60px !important;
    color:#252B5C;
}

.headerImage{
    width:100%;
}

.headerBackImg{
   width: 100%;
   height: 650px !important;
   object-fit: fill;
   position: absolute;
}

.contentContaine{
    width: 100%;
    height: 650px !important;
    background-color: #252B5CF0;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.headerContainer{
    height: 650px !important;
}

.centerContentContainer{
    width: 50%;
    margin-bottom: -55px;
}

.header-group-image{
  height: 390px;
  width: 100%;
}

.nav-cus-link{
    font-family: RalewayRegular !important;
    font-weight: 400;
    color: white !important;
    letter-spacing: 0.03em;
}

.cust-active:hover{
    font-weight: bold;
    background-image: linear-gradient(#ccc,#ccc);
    background-size: 50% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
}



/* ======================= Responsive Design Section Start ====================== */


.pinkBg {
    background-color: #FFFFFF1F !important;
    background-image: #FFFFFF1F;
}

.intro-banner-vdo-play-btn{
    height:100px;
    width:100px;
    position:absolute;
    top:0%;
    left:100%;
    text-align:center;
    margin:-30px 0 0 -30px;
    border-radius:100px;
    z-index:1
}
.intro-banner-vdo-play-btn i{
    line-height:56px;
    font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:160px;
    height:160px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-80px 0 0 -80px;
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}




.copyright-txt{
    background-color: #234F68;
    font-family: RalewayRegular !important;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 400;
    letter-spacing: 0.03em;
}



.hero_area {
    position: relative;
    height: 60px;
    background-color: #234F68;
}

.waves {
    position: absolute;
    width: 100%;
    height: 30px;
    min-height: 30px;
    max-height: 40px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}











 .wrapper {
    height: 650px !important;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 0;
  }
 
  .wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  }
  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }