/* ******* Custom Fonts Start ********** */
@font-face {
    font-family: LatoRegular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: LatoBold;
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: RalewayRegular;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('../fonts/Raleway-Bold.ttf');
}

.LatoRegular{
    font-family: LatoRegular !important;
}

.RalewayRegular{
    font-family: RalewayRegular !important;
}

.RalewayBold{
    font-family: RalewayBold !important;
}

.LatoBold{
    font-family: LatoBold !important;
}
/* ******* Custom Fonts End ********** */

.dotsDesign{
   background: #252B5C82;
   width: 17px;
   height: 17px;
   border-radius: 9px;
}

.cardDesTxt{
  text-align: center;
  color: white;
  font-family: RalewayRegular !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
}

.cardTitleTxt{
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: LatoRegular !important;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.customCards{
    width: 100%;
    min-height: 160px;
    background: linear-gradient(106.49deg, #234F68 4.77%, #252B5C 88.8%);
    width: auto;
    margin-top: -35px;
    border-radius: 10px;
}

.enhancedTitleTxt{
    font-family: LatoRegular !important;
    text-align: left;
    color:#252B5C;
    font-size: 24px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.03em;
}

.enhancedDesTxt{
    color: #252B5C;
    font-family: RalewayRegular !important;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
}

.imageGalleryContainer{
    width: 100%;
    background-image: url('../images/home/page_background.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: #D7E8EA;
    margin-bottom: -25px;
}

.imageZoomIn:hover{
    transform: scale(1.1);
    border-radius: 5px;
}

.contactTxt{
    font-family: LatoRegular;
    font-weight: 400;
    text-align: left;
    color: white;
}

.custIcons{
 color: #8BC83F;
 font-size: 24px;  
}

.cardSubTxt{
    color: #C9C9C9;
    font-family: RalewayRegular !important;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    margin-top: 10px;
}

.informationTxt{
    color: white;
    font-family: LatoBold;
    font-weight: 600;
    line-height: 33.6px;
}

.customBtn{
    background: #8BC83F !important;
    border-color: #8BC83F !important;
    box-shadow: 0px 0px 14px 0px #0000001F !important;
    font-family: RalewayRegular !important;
    font-weight: 500 !important;
}

.labelText{
   font-weight: 500;
   color: #8D8D8D;
   font-family: LatoRegular !important;
}

.inputGroup:has(input:focus) label{
    font-weight: 500;
    color: #252B5C;
    font-family: LatoRegular !important;
}


.customerInput{
  border: none; 
  opacity: 0px;
  border-bottom: 1px solid #8D8D8D;
  color: #8D8D8D;
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-family: LatoRegular !important;
}

.customerInput:focus{
  border: none; 
  opacity: 0px;
  border-bottom: 2px solid #252B5C;
  color: #252B5C;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: none;
  font-family: LatoRegular !important;
}

.innerCircle{
    background: #FFF9F921;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    top: -20px;
    position: absolute;
    left: -20px;
}

.outerCircle
{
  width: 250px;
  height: 250px;
  background: #FFFFFF1F;
  border-radius: 125px;
  position: absolute;
  bottom: -60px;
  right: -50px;
}

.infoCard{
    height: 100%;
    background: linear-gradient(106.49deg, #234F68 4.77%, #252B5C 88.8%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.footerTitle{
    color: #252B5C;
    font-family: LatoBold !important;
    font-weight: 600;
    font-family: Lato;
    line-height: 40px;
    letter-spacing: 0.03em;
}

.footersubTitle{
    color: #252B5C;
    font-weight: 400;
    font-family: RalewayRegular !important;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-align: center;
}

.footerdesign{
    width: 20%;
    height: 36%;
    background: #F5FAF6;
    border-bottom-left-radius: 300px;
    position: absolute;
    right: 0;
}

.copyright-txt{
    background-color: #234F68;
    font-family: RalewayRegular !important;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.building-txt{
    color: #252B5C;
    font-weight: 500;
    font-family: RalewayRegular !important;
    font-weight: 600;
    text-align: center;
}

.slide1-text{
   font-family: RalewayRegular;
   font-weight: 400;
   line-height: 25px;
   letter-spacing: 0.03em;
   text-align: center;
   color: #252B5C;
}

.engagment-text{
    margin-top: 5px !important;
    color:#252B5C;
    text-align: center;
}

.headerImage{
    width:100%;
}

.headerBackImg{
   width: 100%;
   height: 580px !important;
   object-fit: fill;
   position: absolute;
}

.contentContaine{
    width: 100%;
    height: 580px !important;
    background-color: #252B5CF0;
    position: absolute;
    overflow: hidden;
}

.headerContainer{
    height: 580px !important;
}

.centerContentContainer{
    width: 90%;
    margin-bottom: -55px;
}

.header-group-image{
  height: 300px;
  width: 100%;
}

.nav-cus-link{
    font-family: RalewayRegular !important;
    font-weight: 400;
    color: white !important;
    letter-spacing: 0.03em;
}

.cust-active{
    font-weight: bold;
    padding-bottom: 5px;
    background-image: linear-gradient(#ccc,#ccc);
    background-size: 50% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
}



/* ======================= Responsive Design Section Start ====================== */


@keyframes bounce3 { 
    0% { transform: translateY(0) translateX(0); }
    100% { transform: translateY(-2px) translateX(-2px); }
}

.bounce3 {
    animation: bounce3 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}